<h1 style="color: white;">Login</h1>
<mat-card class="card">
  <mat-card-content class="card-content">
    <mat-card-header>
      <mat-card-title>
        <p style="color: red;" *ngIf="(error$ | async)!.message">
          Incorrect Email or Password
        </p>
      </mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput type="email" placeholder="pat@example.com" [formControl]="email" required />
      <mat-error *ngIf="email.invalid">{{
        getEmailErrorMessage()
        }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput type="password" minlength="9" placeholder="Abcd1234!" [formControl]="password" required />
      <mat-error *ngIf="password.invalid">{{
        getPasswordErrorMessage()
        }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmit(email.value!, password.value!)"
      [disabled]="email.invalid || password.invalid">
      Login
    </button>
  </mat-card-content>
</mat-card>

